# **Deep Dive in Machine Learning with Python**
#### **Part - V: Dictionaries and Tuples in Python**

![cover_page](ML_pics\Blog5_coverpage.jpg)

**Welcome to the fifth blog of Deep Dive in Machine Learning with Python, in the last blog (Deep Dive in ML with Python - Part-IV) I demonstrated how to work with python lists effortlessly and operations associated with it.**

**In today's blog, we will focus on two very prominent python objects(Tuple & Dictionary) and try to learn how to use them efficiently.**

![pic_1](ML_pics\Blog5_pic1.gif)

## **Tuples**

* **A tuple is a sequence of immutable python objects.** 
* **Tuples are similar to lists.**
    * **The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.**

### **Problem-1: How to define a tuple?**

In [1]:
students = ('James','Mike','Jessica','Tom','Paul')
student_marks = (78,89,53,68,93)

#### **Tuple-1**

In [2]:
students

('James', 'Mike', 'Jessica', 'Tom', 'Paul')

#### **Tuple-2**

In [3]:
student_marks

(78, 89, 53, 68, 93)

### **Problem-2: How to create an empty tuple?**

In [4]:
tup1 = ()

In [5]:
tup1

()

### **Problem-3: How to verify the type of above created tuple?**

In [6]:
type(students)

tuple

### **Problem-4: How to perform Slicing and Indexing in a tuple?**

#### **Example-1**

In [7]:
students[3:]

('Tom', 'Paul')

#### **Example-2**

In [8]:
students[2]

'Jessica'

#### **Example-3**

In [9]:
student_marks[::-3]

(93, 89)

### **Problem-5: How to update a tuple?**

* **Tuples are immutable which means we cannot update or change the values of tuple elements. However, we can take a portion of an existing tuple to create a new tuple.**

In [10]:
accessories = ('watch','belts','caps','hats','ties','bow ties')
accessories

('watch', 'belts', 'caps', 'hats', 'ties', 'bow ties')

In [11]:
sub_acc = accessories[3:]+('socks','suspenders')

In [12]:
sub_acc

('hats', 'ties', 'bow ties', 'socks', 'suspenders')

### **Problem-6: How to obtain the count of an element from a tuple?**

In [13]:
accessories = accessories + ('caps','pocket squares','hats','belts')

In [14]:
print(accessories,end="")

('watch', 'belts', 'caps', 'hats', 'ties', 'bow ties', 'caps', 'pocket squares', 'hats', 'belts')

In [15]:
accessories.count('belts')

2

### **Problem-7: How to delete an element from a tuple?**

* **Let's say we want to delete the 3rd and 4th index elements from accessories.**

In [21]:
del(accessories[3])

TypeError: 'tuple' object doesn't support item deletion

In [22]:
new_accessories = accessories[0:3]+accessories[5:]

In [23]:
print(new_accessories,end="")

('watch', 'belts', 'caps', 'bow ties', 'caps', 'pocket squares', 'hats', 'belts')

### **Problem-8: How to retrieve the index of any tuple element?**

In [26]:
new_accessories

('watch',
 'belts',
 'caps',
 'bow ties',
 'caps',
 'pocket squares',
 'hats',
 'belts')

In [27]:
accessories

('watch',
 'belts',
 'caps',
 'hats',
 'ties',
 'bow ties',
 'caps',
 'pocket squares',
 'hats',
 'belts')

#### **Example-1**

In [28]:
new_accessories.index('caps')

2

#### **Example-2**

In [29]:
accessories.index('hats')

3

### **Problem-9: How to delete a tuple?**

In [30]:
del(students)

In [31]:
students

NameError: name 'students' is not defined

## **Tuple operations**

#### **Example-1: Access every element of a tuple via loop**

In [32]:
print(new_accessories,end="")

('watch', 'belts', 'caps', 'bow ties', 'caps', 'pocket squares', 'hats', 'belts')

In [33]:
for index in range(len(new_accessories)):
    print("Element at index :", index, "is :", new_accessories[index])

Element at index : 0 is : watch
Element at index : 1 is : belts
Element at index : 2 is : caps
Element at index : 3 is : bow ties
Element at index : 4 is : caps
Element at index : 5 is : pocket squares
Element at index : 6 is : hats
Element at index : 7 is : belts

#### **Example-2: How to convert a list to a tuple?**

In [34]:
names = ['Jammy','John','Nathan','Mathew']

In [35]:
names

['Jammy', 'John', 'Nathan', 'Mathew']

In [36]:
type(names)

list

In [37]:
names = tuple(names)

In [38]:
names

('Jammy', 'John', 'Nathan', 'Mathew')

In [39]:
type(names)

tuple

#### **Example-3: How to find out the maximum value from a tuple?**

In [75]:
student_marks

(78, 89, 53, 68, 93)

In [76]:
max(student_marks)

93

#### **Example-4: How to find out the minimum value from a tuple?**

In [77]:
min(student_marks)

53

## **Dictionary**

* **It is a python object which stores the data in key, value pairs.**
* **Each key is separated from its value by a colon (:), the items are separated by commas, and they all are enclosed in curly braces.**
* **Keys of a dictionary are unique whereas values may not be. The values of a dictionary can be of any type, however, the keys must be of an immutable data type such as strings, numbers, or tuples.**

### **Problem-1: How to define a dictionary?**

In [40]:
score_card = {'student_name' : ['Nitin','James','David','Robert','Rahul'],
             'marks' : [91, 87, 93, 78, 80] }

In [41]:
score_card

{'student_name': ['Nitin', 'James', 'David', 'Robert', 'Rahul'],
 'marks': [91, 87, 93, 78, 80]}

### **Problem-2: How to access the keys of a dictionary?**

In [42]:
score_card.keys()

dict_keys(['student_name', 'marks'])

### **Problem-3: How to access the items of a dictionary?**

In [43]:
score_card.values()

dict_values([['Nitin', 'James', 'David', 'Robert', 'Rahul'], [91, 87, 93, 78, 80]])

### **Problem-4: How to retrieve all the keys and values of a dictionary within a list?**

In [44]:
score_card.items()

dict_items([('student_name', ['Nitin', 'James', 'David', 'Robert', 'Rahul']), ('marks', [91, 87, 93, 78, 80])])

### **Problem-5: How to update the values against a key in a dictionary?**

In [45]:
score_card.update({'marks' : [93,88,93,78,80]})

In [46]:
score_card

{'student_name': ['Nitin', 'James', 'David', 'Robert', 'Rahul'],
 'marks': [93, 88, 93, 78, 80]}

### **Problem-6: How to access the values of a key from a dictionary?**

#### **Example-1**

In [47]:
score_card['student_name']

['Nitin', 'James', 'David', 'Robert', 'Rahul']

In [48]:
type(score_card['student_name'])

list

In [49]:
score_card['marks']

[93, 88, 93, 78, 80]

#### **Example-2: Using get() method**

In [50]:
score_card.get('marks')

[93, 88, 93, 78, 80]

In [51]:
score_card.get('student_name')

['Nitin', 'James', 'David', 'Robert', 'Rahul']

In [52]:
print(score_card.get('hello'))

None

### **Problem-7: How to find the length of a dictionary?**

In [55]:
score_card

{'student_name': ['Nitin', 'James', 'David', 'Robert', 'Rahul'],
 'marks': [93, 88, 93, 78, 80]}

In [56]:
len(score_card)

2

### **Problem-8: Can we have multiple entries of a key in the dictionary?**

In [57]:
new_dict = {'Name' : 'Ajay', 'Age' : 35}

In [58]:
new_dict

{'Name': 'Ajay', 'Age': 35}

In [59]:
new_dict = {'Name' : 'Ajay', 'Age' : 35, 'Name' : 'Laura'}

In [60]:
new_dict

{'Name': 'Laura', 'Age': 35}

### **Problem-9: How to clear the dictionary?**

In [61]:
new_dict.clear()

In [62]:
new_dict

{}

### **Problem-10: How to delete the dictionary?**

In [63]:
del(new_dict)

In [64]:
new_dict

NameError: name 'new_dict' is not defined