# **Deep Dive in Machine Learning with Python**
### **Part - IV: Guide to Python Lists**

![cover_page](ML_pics\Blog4_coverpage.jpg)


Welcome to the fourth blog of Deep Dive in Machine Learning with Python, in the last blog (Deep Dive in ML with Python - Part-III) we covered how to efficiently use python string objects and solved several problems via methods, functions, and operators. 


In today's blog, we will work with python lists and gain its insights by writing code for solving some scenarios.

### **Problem-1: What is a list in python?**

A list is a python container which stores data of multiple datatypes. It is represented by square brackets(i.e. ['value1', 'value2' ......so on]). 

A list can store the homogeneous or heterogeneous values. 

![pic1](ML_pics\Blog4_pic1.gif)

### **Problem-2: How to define a list?**

In [1]:
batsmen_and_runs = ['Virat', 89 , 'Dhoni', 94]

In [2]:
batsmen_and_runs

['Virat', 89, 'Dhoni', 94]

As in the above output you can see a list(i.e. batsmen_and_runs) stores two string(i.e. 'Virat' and 'Dhoni') and two integer values(i.e. 89 and 94).

### **Problem-3: How to define an empty list?**

In [3]:
empty_list = []

In [4]:
empty_list

[]

### **Problem-4: How to check the type of above created python containers?**

In [7]:
print(type(batsmen_and_runs))

<class 'list'>

In [5]:
type(empty_list)

list

### **Problem-5: How to calculate the length of list object?**

In [8]:
len(batsmen_and_runs)

4

In [9]:
len(empty_list)

0

### **Problem-6: How to print every element of list?**

In [10]:
for element in batsmen_and_runs:
    print(element)

Virat
89
Dhoni
94

In this example, we used the for loop to iterate the list and print its elements.

### **Problem-7: How to check the datatype of every element in a list?**

In [11]:
for element in batsmen_and_runs:
    print("Element is {} and its datatype is {}:".format(element,type(element)))

Element is Virat and its datatype is <class 'str'>:
Element is 89 and its datatype is <class 'int'>:
Element is Dhoni and its datatype is <class 'str'>:
Element is 94 and its datatype is <class 'int'>:

Here, similarly to the previous problem we iterated the list(e.g. batsmen_and_runs) and used the format method to accept two parameters: one is element and other is its type and passing it to print statement.

**Format method** : It is a formatting method that allow multiple substitutions and value formatting. 

Hence, in the above example first **{}** in the **print** statement accepting the value coming in **element** variable in every iteration. 

Similarly, second **{}** in the **print** statement accepting the result coming from **type** function.

# **Indexing in python lists**

![pic_2](ML_pics\Blog4_pic2.jpg)

### **Problem-8: How to see the index of elements in a list?**

In [20]:
name_age = ['James', 42, 'Matt', 24, 'Dominic', 30, 'James']

In [21]:
for element in name_age:
    print("Element is : {} and its index is : {}".format(element,name_age.index(element)))

Element is : James and its index is : 0
Element is : 42 and its index is : 1
Element is : Matt and its index is : 2
Element is : 24 and its index is : 3
Element is : Dominic and its index is : 4
Element is : 30 and its index is : 5
Element is : James and its index is : 0

In the above example, first, we created a list name_age having 6 elements. Then, we used the index method to return the position of every element to the print statement via format method.

**Index** method: It is the method that returns the first index/position of an element in a list. As you see in the above example, James at index 0, 42 at index 1, Matt at index 2 and so on.

**NOTE**: If you see the last line output of the above example then for James the index is again returned as 0 it is because index method returns the first index of an element.

### **Problem-9: How to access any element of a list?**

In [25]:
name_age

['James', 42, 'Matt', 24, 'Dominic', 30, 'James']

### **Access first element from a list**

In [26]:
name_age[0]

'James'

### **Access second element from a list**

In [27]:
name_age[1]

42

### **Access third element from a list**

In [28]:
name_age[2]

'Matt'

### **Access fourth element from a list**

In [29]:
name_age[3]

24

### **Access last element from a list**

In [30]:
name_age[-1]

'James'

### **Access second last element from a list**

In [31]:
name_age[-2]

30

### **Access third last element from a list**

In [32]:
name_age[-3]

'Dominic'

In the above example, I have shown the approach to access an element from a list at a specific index location. Positive indexes read elements from the left side of the list and negative indexes read from the end of the list.

### **Problem-10: How to append an element in a list?**

![pic3](ML_pics\Blog4_list_append.gif)

In [36]:
name_age

['James', 42, 'Matt', 24, 'Dominic', 30, 'James', 'Andrew', 22]

In [33]:
name_age.append('Andrew')

In [34]:
name_age.append(22)

In [35]:
name_age

['James', 42, 'Matt', 24, 'Dominic', 30, 'James', 'Andrew', 22]

In the above example, two new elements(e.g. Andrew and 22) were appended in an existing list(e.g. name_age).

### **Problem-11: How to append a list in a list?**

In [37]:
name_age.append(['Trott',32,'Micheal',29,'Jason',22])

In [38]:
print(name_age,end="")

['James', 42, 'Matt', 24, 'Dominic', 30, 'James', 'Andrew', 22, ['Trott', 32, 'Micheal', 29, 'Jason', 22]]

In the above example, we appended a list(e.g.**['Trott',32,'Micheal',29,'Jason',22]**) in an existing list(i.e. **name_age**).

**NOTE**: In the print statement of the above example, one additional parameter has been used(i.e. **end= ""**). This end represents the string appended after the last value, default a newline. So, I didn't want a newline after every element thus provided **end = ""**.

In the second cell of the above example, we witnessed a list in a list structure. Now, let's see what will return when we access the last element of **name_age**.

In [39]:
name_age[-1]

['Trott', 32, 'Micheal', 29, 'Jason', 22]

### **Problem-12: How to fetch more than one element from a list?**

In [40]:
name_age[1:3]      # Access first two elements of a list

[42, 'Matt']

In [41]:
name_age[2:4]      # Access third and fourth element from a list

['Matt', 24]

In [42]:
name_age[-1]       # Access the child list from last index of a parent list

['Trott', 32, 'Micheal', 29, 'Jason', 22]

In [43]:
name_age[-1][:2]   # Accessing first two elements of the child list

['Trott', 32]

In the above example, we accessed multiple elements from the list by using index locations. 

Here **[1:3]** means we want to access the elements from index 1 to 3 where 3 is non-inclusive. 

Thus, returns elements of index locations 1 and 2.

# **List with duplicate values**

In [44]:
dup_list = ['Zen','Tom','Lina','Tina','Tom','Zen']

In [45]:
dup_list

['Zen', 'Tom', 'Lina', 'Tina', 'Tom', 'Zen']

### **Problem-13: How to get only unique elements from a list?**

In [46]:
uniq_elements = list(set(dup_list))

In [47]:
uniq_elements

['Lina', 'Zen', 'Tina', 'Tom']

### **Problem-14: How to get the every other element of a list?**

In [50]:
dup_list

['Zen', 'Tom', 'Lina', 'Tina', 'Tom', 'Zen']

#### **Example-14.1: Get the every 2nd element from a list from 0th index**

In [53]:
dup_list[::2]

['Zen', 'Lina', 'Tom']

#### **Example-14.2: Get the every 2nd element from a list from last index**

In [54]:
dup_list[::-2]

['Zen', 'Tina', 'Tom']

In this example, we fetched every 2nd element from the start and end of the list.

### **Problem-15: How to insert element in a list at a specific index?**

In [50]:
dup_list

['Zen', 'Tom', 'Lina', 'Tina', 'Tom', 'Zen']

In [51]:
dup_list.insert(0,'Mathew')

In [52]:
dup_list

['Mathew', 'Zen', 'Tom', 'Lina', 'Tina', 'Tom', 'Zen']

In this example, we inserted a new element Mathew at the 0th position/index in dup_list.

### **Problem-16: How to reverse the elements of a list?**

In [53]:
dup_list.reverse()

In [54]:
dup_list

['Zen', 'Tom', 'Tina', 'Lina', 'Tom', 'Zen', 'Mathew']

In the above example, we reversed the elements in the dup_list.

### **Problem-17: How to remove the item from a specific index of list?**

In [56]:
dup_list.pop(0)

'Zen'

In [57]:
dup_list

['Tom', 'Tina', 'Lina', 'Tom', 'Zen', 'Mathew']

In the above example, we used the **pop()** method to remove an element from the list.

**pop()** method removes and return the index of an element which we have removed(default last).

### **Problem-18: How to get the count of any element from a list?**

In [58]:
dup_list

['Tom', 'Tina', 'Lina', 'Tom', 'Zen', 'Mathew']

In [95]:
dup_list.count('Tom')

2

In the above example, by using **count()** method we can get the total number of occurrences of an element from a list.

### **Problem-19: How to append the elements of a list into another list?**

In [59]:
dup_list

['Tom', 'Tina', 'Lina', 'Tom', 'Zen', 'Mathew']

In [61]:
dup_list.extend(['Ricky','Brett','Rome','Shawn'])

In [62]:
dup_list

['Tom',
 'Tina',
 'Lina',
 'Tom',
 'Zen',
 'Mathew',
 'Ricky',
 'Brett',
 'Rome',
 'Shawn']

### **Problem-20: How to sort elements of a list in ascending order?**

In [63]:
dup_list

['Tom',
 'Tina',
 'Lina',
 'Tom',
 'Zen',
 'Mathew',
 'Ricky',
 'Brett',
 'Rome',
 'Shawn']

#### **Example-20.1 : Ascending order sort**

In [64]:
dup_list.sort()

In [65]:
dup_list

['Brett',
 'Lina',
 'Mathew',
 'Ricky',
 'Rome',
 'Shawn',
 'Tina',
 'Tom',
 'Tom',
 'Zen']

#### **Example-20.2 : Descending order sort**

In [66]:
dup_list.sort(reverse=True)

In [67]:
dup_list

['Zen',
 'Tom',
 'Tom',
 'Tina',
 'Shawn',
 'Rome',
 'Ricky',
 'Mathew',
 'Lina',
 'Brett']

In the above example, by using sort() method we can change the order of elements in a list either ascending or descending.

### **Problem-21: How to access elements of a list using while loop?**

In [68]:
i=0                # Initialized i with 0
while(i<5):        # This while loop will run till the value of i is smaller than 5
    print("Index is {}".format(i))
    print("Element : {}".format(dup_list[i]))
    print("\n")    # This will print a blank line
    i += 1         # Increment the value of i by 1 in every iteration

Index is 0
Element : Zen


Index is 1
Element : Tom


Index is 2
Element : Tom


Index is 3
Element : Tina


Index is 4
Element : Shawn

In the above example, a while loop will return the top 5 elements from dup_list. It is because we are running the loop till i is smaller than 5(i.e. i can be 0, 1, 2, 3 and 4).

![ty](ML_pics\Blog4_congrats.gif)

Congratulations, we come to the end of this blog, to summarize, we covered how to work with python lists by solving some problems.